<div class="form-group" [formGroup]='formGroup'>
    <div class="form-row">
      
      <div class="form-group col-md-6">
        <label for="testName">Test Name</label>
        <input type="text" 
               class="form-control" 
               formControlName="testName" 
               id="testName" 
               placeholder="Example: AIEEE 2017 Final Paper">
      </div>
  
    </div>

    <app-test-group
      [formGroup]="formGroup"
      (examinationGroupValueChanged)="OnSelectExaminationGroup($event)"
      (examinationValueChanged)="OnSelectExamination($event)"
      (testCategoryValueChanged)="OnSelectTestCategory($event)">
    </app-test-group>
  </div>

  