<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Take Test</a>

    <div class="collapse navbar-collapse justify-content-end" role="navigation">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a class="nav-link" routerLink="dashboard">Dashboard</a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-link" routerLink="questions">Questions</a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-link" routerLink="tests">Tests</a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-link" routerLink="students">Students</a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-link" routerLink="products">Products</a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-link" routerLink="reports">Reports</a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-link" routerLink="manageAccount">Manage Account</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>