<app-search-by-details [formGroup]="formGroup"
                       (examinationGroupsValueChanged)="OnSelectExaminationGroup($event)"
                       (studentBatchesValueChanged)="OnSelectStudentBatch($event)"
                       (searchByValueChanged)="OntextSearch($event)">

</app-search-by-details>

<div class="table-responsive">
  <table class="table table-bordered table-sm">
    <thead class="thead-light">
      <tr class="d-flex">
        <th>#</th>
        <th>Student Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let studentUser of studentUsers; let i = index">
          <app-student-user-summary
            [number]="i"
            [studentUser]="studentUser"
            (studentUserDeleted)="OnDeleteStudentUser($event)"> 
          </app-student-user-summary>
      </tr>
    </tbody>
  </table>
</div>