<br>
<div class="container">

<form [formGroup]="registerForm">

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="username">Email</label>
            <input type="text" formControlName="username" class="form-control" />
        </div>

        <div class="form-group col-md-4">
            <label for="mobileNumber">Mobile Number</label>
            <input type="text" formControlName="mobileNumber" class="form-control" />
        </div>

        <div class="form-group col-md-offset-2">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-primary" (click)='onSendInvite()'>{{sendInviteButtonTitle}}</button>
        </div>

    </div>
    <br/>
    <h5>Personal Details</h5>

    <div class="form-row">
      <div class="form-group col-md-4">
          <label for="firstName">First Name</label>
          <input type="text" formControlName="firstName" class="form-control"/>
      </div>

      <div class="form-group col-md-4">
          <label for="lastName">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" />
      </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-4">
          <label for="gender">Gender</label>
          <select class="form-control" formControlName="gender">
              <option>Select</option>
              <option>Male</option>
              <option>Female</option>
          </select>
         </div>
      
        <div class="form-group col-md-4">
            <label for="dob">Date of Birth</label>
            <input type="text" formControlName="dob" class="form-control" />
        </div>
    </div>

    <br/>
    <h5>Address Details</h5>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="addressLine1">Address Line 1</label>
            <input type="text" formControlName="addressLine1" class="form-control" />
        </div>

        <div class="form-group col-md-6">
            <label for="addressLine2">Address Line 1</label>
            <input type="password" formControlName="addressLine2" class="form-control"/>
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="city">City</label>
            <input type="text" formControlName="city" class="form-control" />
        </div>

        <div class="form-group col-md-4">
            <label for="state">State</label>
            <input type="text" formControlName="state" class="form-control"/>
        </div>

        <div class="form-group col-md-2">
            <label for="zipCode">Zip Code</label>
            <input type="text" formControlName="zipCode" class="form-control"/>
        </div>

        <div class="form-group col-md-2">
                <label for="country">Country</label>
                <input type="text" formControlName="country" class="form-control"/>
        </div>
    </div>

    <br/>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Interested in coaching for</label>
            <select class="form-control" formControlName="preferredExams">
                <option *ngFor="let option of examinationGroups" [value]="option?._id">{{option.name}}
                </option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label>Student Group</label>
            <select class="form-control" formControlName="group">
                <option *ngFor="let studentBatch of studentBatches;" [value]="studentBatch?._id">{{ studentBatch.name }}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" (click)='onUpdateDetails()'>{{updateDetailsButtonTitle}}</button>
    </div>
</form>
</div>