<td>
      <div class="input-group mb-3">
            
            <div class="form-check">
                  <input type="checkbox" 
                         class="form-check-input" 
                         id="{{number}}" 
                         [checked]='question.isSelected'
                         (click)="selectedQuestion()">

                  <label class="form-check-label" for="{{number}}"> 
                        {{ question.description }} 
                  </label>
                  <div *ngFor="let option of question.options">
                              {{ option.value }}
                  </div> 
            </div>

      </div>
</td>