<div>
    <div align="left"> 
        <label style="font-size:20px;">{{ test.name }}</label> 
    </div>
    
    <div align="left">
        <label style="font-size:15px;">Difficulty Level:</label>
        <span class="badge">Easy</span>
    </div>
    
    <div align="left"> 
        <label style="font-size:15px;">Attempted By:</label>
        <span class="badge">300</span>
        
        <div style="float:right">
            <label style="font-size:15px;">Average Score:</label><span class="badge">18</span>
        </div>
        
    </div>
    
    <button type="button" class="btn btn-default" aria-label="Left Align">
         <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
    </button>

</div> 
        