<div class="table-responsive">
  <table class="table table-bordered table-sm">

    <tbody>
      <!-- <tr *ngFor="let question of questions; let i = index"> -->
          <!-- <app-question-summary
            [number]="i"
            [question]="question"
            (questionDeleted)="onDeleteQuestion($event)"> 
          </app-question-summary> -->
          <tr><app-test-details></app-test-details></tr>
          <tr><app-test-details></app-test-details></tr>
      <!-- </tr> -->
    </tbody>
  </table>
  </div>