<form>
    <h5>Question Details</h5>
    <div class="form-row">
      <div class="form-group col-md-3">
          <select class="form-control">
              <option>Select Subject</option>
          </select>
      </div>
      <div class="form-group col-md-3">
          <select class="form-control">
              <option>Select Unit</option>
          </select>
      </div>
      <div class="form-group col-md-3">
          <select class="form-control">
              <option>Select Chapter</option>
          </select>
      </div>
      <div class="form-group col-md-3">
          <select class="form-control">
              <option>Select Question Type</option>
          </select>
      </div>
    </div>
</form>