<div class="form-group" [formGroup]='formGroup'>
    <h5>Question Details</h5>
    <div class="form-row">
        <div class="form-group col-md-4">
            <app-custom-selector [formGroup]="formGroup" 
                                 [customSelector]="questionTypesSelector" 
                                 (questionTypeChanged)="onSelectQuestionType($event)">
            </app-custom-selector>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <app-custom-selector [formGroup]="formGroup"
                                 [customSelector]="subjectsSelector" 
                                 (subjectChanged)="onSelectSubject($event)">
            </app-custom-selector>
        </div>

        <div class="form-group col-md-4">
            <app-custom-selector [formGroup]="formGroup" 
                                 [customSelector]="unitsSelector" 
                                 (unitChanged)="onSelectunit($event)">
            </app-custom-selector>
        </div>

        <div class="form-group col-md-4">
            <app-custom-selector [formGroup]="formGroup"
                                 [customSelector]="chaptersSelector" 
                                 (chapterChanged)="onSelectChapter($event)">
            </app-custom-selector>
        </div>
    </div>      
</div>