
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Associate students to product</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  
    <div class="modal-body">
  
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          
          <thead class="thead-light">
            <tr class="d-flex">
              <th>Student Batches</th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let studentBatch of studentBatches; let i = index">
                <app-product-student-batch-summary-modal
                  [number]="i"
                  [studentBatch]="studentBatch"> 
                </app-product-student-batch-summary-modal>
            </tr>
          </tbody>
          
        </table>
      </div>
  
    </div>
  
    <div class="modal-footer">
      <button type="button" 
              class="btn btn-secondary" 
              data-dismiss="modal"
              (click)="onClose()">Close</button>
      <button type="button" 
              class="btn btn-primary"
              (click)="onSaveStudentGroups()">Save changes</button>
    </div>