<app-basic-details [formGroup]="formGroup"></app-basic-details>
<div class="table-responsive">
<table class="table table-striped table-bordered table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Question Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let question of questions; let i = index">
        <app-question-summary
          [number]="i"
          [question]="question"
          (questionDeleted)="onDeleteQuestion($event)"> 
        </app-question-summary>
    </tr>
  </tbody>
</table>
</div>