 <div class="alert alert-info alert-dismissible" hidden=true>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Question added!</strong>
</div>
<div class="column">
    <form [formGroup]="addQuestionFormGroup">
        
        <app-basic-details [formGroup]="addQuestionFormGroup"
                           (selectorValueChanged)="onSelectValue($event)">
        </app-basic-details>  <hr>

        <app-main-details [formGroup]="addQuestionFormGroup"></app-main-details> <hr>
        <app-additional-details [formGroup]="addQuestionFormGroup"></app-additional-details>
        <app-action-details [formGroup]="addQuestionFormGroup" (questionAdded)="onAddQuestion()"></app-action-details>
    </form>
</div>