<div class="card" style="width: 18rem">

  <div class="card-header">
      Maths
  </div>

  <div class="card-body">

    <div class="input-group input-group-sm">
      <div class="input-group-prepend"><i class="input-group-text">Maximum Marks</i></div>
      <input type="text" class="form-control" value="30">
    </div>
    
    <br/>

    <div class="input-group input-group-sm">
      <div class="input-group-prepend"><i class="input-group-text">No of Questions</i></div>
      <input type="text" class="form-control" value="45">
    </div>

    <br/>

    <p class="card-text"><b>(14 Questions selected)</b></p>
    <a href="#" class="card-link">View and Modify Questions</a>

  </div>
</div>