<!-- <div class="form-group" [formGroup]='additionalDetailsSubForm'> -->
    <div class="container"  style="text-align:right; width:100%; padding:0;"> 
        <button type="button" class="btn btn-danger">Clear all details</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-info">Preview Question</button>&nbsp; &nbsp;
        <button type="button" class="btn btn-success" (click)="onAddQuestion()">Add Question</button>
    </div>
<!-- </div> -->

<!-- <p> Angggggulards </p>

<label>Question Details</label>
<!-- <input
    type="text"
    class="form-control"
    (input)="onEditDescription($event)"> 

<input
    type="text"
    class="form-control"
    [(ngModel)]="questionDescription">

<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer" 
    (click)="onCreateQuestion()"> Add Question
</button>

<p *ngIf="questionCreated">{{dynamicValue}}</p>

<app-question *ngFor="let question of questionsArray"></app-question> -->