<form>
    <div class="form-row" class="md-12">
        <app-option-details></app-option-details> 
    </div> 
    
    <br>
    <br>

    <div class="form-row" class="lg-12">
        <div class="form-col lg-6">
            <app-option-details> </app-option-details> 
        </div> 
        <div class="form-col lg-6">
                <app-option-details> </app-option-details>
        </div>
    </div> 
    <div class="form-row" class="md-12">
        <div class="form-col lg-6">
            <app-option-details> </app-option-details>
        </div> 
        <div class="form-col lg-6">
                <app-option-details> </app-option-details>
        </div>
    </div> 
</form>
